<div class="background-image">
    <div class="form-container">
        <h2>{{'login' | translate}}</h2>
        <form [formGroup]="form" (submit)="login()" autocomplete="off">
            <p-toast></p-toast>
            <div class="form-group">
                <label for="email">{{'login' | translate}}:</label>
                <input type="email" id="email" name="email" class="form-control" formControlName="email" >
                @if (email.errors?.['required'] && email.dirty) {
                    <small class="text-danger font-italic">{{'emailRequired' | translate}}</small>
                }@else if(email.errors?.['email']){
                    <small class="text-danger font-italic">{{'emailInvalidFormat' | translate}}</small>
                }
            </div>
            <div class="form-group">
                <label for="password">{{'password' | translate}}:</label>
                <input type="password" id="password" name="password" class="form-control forgot" formControlName="password">
                @if (password.errors?.['required'] && password.dirty) {
                    <small class="text-danger font-italic">{{'passRequired' | translate}}</small>
                }@else if(password.errors?.['minlength']){
                    <small class="text-danger font-italic">{{'passMin' | translate}}</small>
                }
                <a class="forgot-password" routerLink="/change-password">{{'forgotPass' | translate}}</a>
            </div>
            
            <div class="cuadroRegis">

                <button type="submit" class="btn btn-primary mt-4" [disabled]="form.invalid">{{'login' | translate}}</button>

                <div class="enlaces">
                    <hr>
                    <a class="registration" routerLink="/register">{{'noAccount' | translate}}</a>
                    <hr>
                    <a class="registration" routerLink="/home">{{'home' | translate}}</a>

                    
                </div>
            </div>
        </form>
    </div>
</div>
