<div class="cajaComentario">
    <h3><strong>{{userName | titlecase}}</strong></h3>
    <form [formGroup]="formComment">
    <mat-form-field class="w-100">
        <textarea matInput [placeholder]="'Deja un comentario'" formControlName="contenido"></textarea>
        @if (contenido.errors?.['required']) {
            <mat-error class="text-danger font-italic">El contenido del comentario es obligatorio</mat-error>
        }
    </mat-form-field>

    <p-button label="Enviar" icon="pi pi-send" (click)="addComentario()">
        <!-- <i class="pi pi-send" style="font-size: 1.5rem"></i> -->

    </p-button>
</form>
</div>
