<h2>Consulta todas tus valoraciones hechas</h2>
<hr>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="favoritos">

  @if (ratingList.length > 0) {
    @for (fav of ratingList; track $index) {
        <div class="card">
          <div class="left">
            <img class="card-image" src="{{ fav.imagen }}" alt="{{ fav.titulo }}" />
          </div>
          <div class="right">
            <h2 class="card-title">{{fav.titulo}}</h2>
            @if (fav.notaUsuario) {
              <span class="rating" >Nota Personal: {{fav.notaUsuario}}</span>
            }@else {
              <span class="rating" >Aun no has votado esta película</span>
            }
              
              <button class="btn-delete delete" (click)="deleteFavorite(fav._id, $event)">Eliminar de Valoraciones</button>
          </div>
          <!-- <div class="card-content">
            
          </div> -->
          <!-- <h3 class="card-title">{{ fav.titulo }}</h3>
            <div class="card-details">
              <span class="rating" >Rating:</span>
              
              <button class="btn-delete" (click)="deleteFavorite(fav._id)">Eliminar</button>
            </div> -->
        </div>
    }
  }@else {
    @if (showMessage) {
    <p-messages [(value)]="mensaje" [enableService]="false" [closable]="false"></p-messages>
    }
  }




</div>