<h2>{{ 'ratingsTitle'| translate}}</h2>
<hr>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="favoritos">

  @if (ratingList.length > 0) {
    @for (fav of ratingList; track $index) {
        <div class="card">
          <div class="left">
            <img class="card-image" src="{{ fav.imagen }}" alt="{{ fav.titulo }}" (error)="fav.imagen = noFoundImage" />
          </div>
          <div class="right">
            <h2 class="card-title">{{fav.titulo}}</h2>
            @if (fav.notaUsuario) {
              <span class="rating" >{{ 'personalRating' | translate}}: {{fav.notaUsuario}}</span>
            }@else {
              <span class="rating" ></span>
            }
              
              <button class="btn-delete delete" (click)="deleteFavorite(fav._id, $event)">{{'removeRating' | translate}}</button>
          </div>

        </div>
    }
  }@else {
    @if (showMessage) {
      <div class="alert alert-info w-100" role="alert">
        {{ 'noRatings' | translate}}
      </div>
    }
  }

</div>