<h1>
    @if (!idMedia) {
        {{ 'addMedia' | translate}}
    }@else {
        {{ 'updMedia' | translate}}
    }
</h1>

<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card-content>

            <p-toast></p-toast>
        <form [formGroup]="frmMedia" (submit)="saveMedia()">
            <mat-form-field class="m-2 col-12">
                <mat-label>Id</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>

            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'mediaTitulo' | translate}}</mat-label>
                <input type="text" matInput placeholder="{{ 'selecTitulo' | translate}}" formControlName="titulo" required>
                @if (titulo.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'tituloRequired' | translate}}</mat-error>
                }@else if(titulo.errors?.['minlength']){
                    <mat-error class="text-danger font-italic">{{ 'minTitulo' | translate}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'mediaImagen' | translate}}</mat-label>
                <input type="text" matInput placeholder="{{ 'selecImagen' | translate}}" formControlName="imagen" required>

                @if (imagen.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'imagenMediaRequired' | translate}}</mat-error>
                }
                
            </mat-form-field>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">{{ 'add3Actors' | translate}}</label>
                <div class="col-sm-9">
                  <div class="mb-1">
                    <div class="input-group">
                      <select class="form-control" [formControl]="actorList">
                        @for (actor of actLocal; track $index) {
                            <option [value]="actor._id">{{actor.nombre}}</option>
                        }
                      </select>
                      <button class="btn btn-outline-primary" type="button" (click)="onAddMovie()">{{ 'addAct' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="actores.controls.length < 3" class="text-danger">
                {{ 'min3Actors' | translate}}
              </div>
              
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">{{ 'actors' | translate}}</label>
                <div class="col-sm-9" formArrayName="actores">
                  <div class="mb-1" *ngFor="let item of actores.controls | keyvalue; let i = index">
                    <div class="input-group">
                      <input class="form-control" [formControlName]="i" [disabled]="true">
                      <button class="btn btn-outline-danger" type="button" (click)="onDeleteMovie(i)">{{ 'eliminar' | translate}}</button>
                    </div>
                    @if(isValidFieldInArray(actores, i)){
                      <span class="form-text text-danger">{{ 'fieldRequired' | translate}}</span>
                    }
                  </div>
                </div>
              </div>




            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'tipoAdd' | translate}}</mat-label>
                <mat-select formControlName="tipo" placeholder="{{ 'selecTipo' | translate}}" >
                    <mat-option value="pelicula" (click)="clickTipo('pelicula')">{{ 'film' | translate}}</mat-option>
                    <mat-option value="serie" (click)="clickTipo('serie')">{{ 'series' | translate}}</mat-option>
                </mat-select>
                @if (tipo.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'tipoRequired' | translate}}</mat-error>
                }
                <!-- <mat-error *ngIf="frmCrud.get('tipo')?.invalid">Tipo es requerido</mat-error> -->
            </mat-form-field>

            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'director' | translate}}</mat-label>
                <input type="text" matInput placeholder="{{ 'selecDirec' | translate}}" formControlName="director" required>
                @if (director.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'direcRequired' | translate}}</mat-error>
                }@else if(director.errors?.['minlength']){
                    <mat-error class="text-danger font-italic">{{ 'min5' | translate}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'year' | translate}}</mat-label>
                <input type="number" matInput placeholder="{{ 'selecYear' | translate}}" formControlName="anyo" required>
                @if (anyo.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'yearRequired' | translate}}</mat-error>
                }@else if(anyo.errors?.['min']){
                    <mat-error class="text-danger font-italic">{{ 'yearMin' | translate}} 1920</mat-error>
                }@else if(anyo.errors?.['max']){
                    <mat-error class="text-danger font-italic">{{ 'yearMax' | translate}} 2028</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'puntuacion' | translate}}</mat-label>
                <input type="number" matInput placeholder="{{ 'selecPuntuacion' | translate}}" formControlName="puntuacion" required>
                @if (puntuacion.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'puntuacionRequired' | translate}}</mat-error>
                }@else if(puntuacion.errors?.['min']){
                    <mat-error class="text-danger font-italic">{{ 'valorMin' | translate}} 0</mat-error>
                }@else if(puntuacion.errors?.['max']){
                    <mat-error class="text-danger font-italic">{{ 'valorMax' | translate}} 10</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'genero' | translate}}</mat-label>
                <input type="text" matInput placeholder="{{ 'selecGenero' | translate}}" formControlName="genero" required>
                @if (genero.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'generoRequired' | translate}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="m-2 col-12">
                <mat-label>{{ 'argumento' | translate}}</mat-label>
                <input type="text" matInput placeholder="{{ 'selecArgu' | translate}}" formControlName="descripcion" required>
                @if (descripcion.errors?.['required']) {
                    <mat-error class="text-danger font-italic">{{ 'arguRequired' | translate}}</mat-error>
                }@else if(descripcion.errors?.['minlength']){
                    <mat-error class="text-danger font-italic">{{ 'min30' | translate}}</mat-error>
                }
            </mat-form-field>

            @if(isPelicula){
                <mat-form-field class="m-2 col-12">
                    <mat-label>{{ 'duracion' | translate}}</mat-label>
                    <input type="number" matInput placeholder="{{ 'duracionSelec' | translate}}" formControlName="duracion" required>
                    @if (duracion.errors?.['required']) {
                        <mat-error class="text-danger font-italic">{{ 'duracionRequired' | translate}}</mat-error>
                    }@else if(duracion.errors?.['min']){
                        <mat-error class="text-danger font-italic">{{ 'valorMin' | translate}} 0</mat-error>
                    }@else if(duracion.errors?.['max']){
                        <mat-error class="text-danger font-italic">{{ 'valorMax' | translate}} 500</mat-error>
                    }
                </mat-form-field>
            }

            @if(isSerie){
                <mat-form-field class="m-2 col-12">
                    <mat-label>{{ 'episodios' | translate}}</mat-label>
                    <input type="number" matInput placeholder="{{ 'selecEpi' | translate}}" formControlName="episodios" required>
                    @if (episodios.errors?.['required']) {
                        <mat-error class="text-danger font-italic">{{ 'epiRequired' | translate}}</mat-error>
                    }@else if(episodios.errors?.['min']){
                        <mat-error class="text-danger font-italic">{{ 'valorMin' | translate}} 0</mat-error>
                    }@else if(episodios.errors?.['max']){
                        <mat-error class="text-danger font-italic">{{ 'valorMax' | translate}} 5000</mat-error>
                    }
                </mat-form-field>
            }

           

            <button mat-flat-button color="primary" [disabled]="frmMedia.invalid">
                <mat-icon>save</mat-icon> 
                {{ 'save' | translate}}
            </button>
      
        </form>

    </mat-card-content>
    </div>
</div>

