
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="#">
        <img src="https://www.iestrassierra.net/alumnado/curso2324/DAW/daw2324a02/images/icono-min.png" alt="Icono de la web" 
        class="img-fluid" width="80" height="auto">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto" id="firstList">
        <li class="nav-item">
          <a class="nav-link" href="#">{{'home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/busqueda" href="#">Búsqueda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/busqueda" href="#">Filtros</a>
        </li>

        <div class="banderas">
          <li class="nav-item">
            <a class="nav-link" (click)="switchLanguage('es')" class="language"><img src="https://www.iestrassierra.net/alumnado/curso2324/DAW/daw2324a02/images/spain.png" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="switchLanguage('en')" class="language"><img src="https://www.iestrassierra.net/alumnado/curso2324/DAW/daw2324a02/images/uk.png" alt=""></a>
          </li>
        </div>


        @if(mainRole === "admin"){
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i> Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#" routerLink="/media-crud">Media</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" routerLink="/actores-crud" >Actores</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" routerLink="/comentarios" >Comentarios</a></li><li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" routerLink="/user-list" >Usuarios</a></li>
              </ul>
            </li>
          </ul>
        }

        
      </ul>
     
      @if (isLoggedIn) {

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> {{nomUsuario | titlecase}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" [routerLink]="'favoritos/'+idUser">Favoritos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" [routerLink]="'ratings/'+idUser">Mis Valoraciones</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item cursor" (click)="onLogout()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>


      }@else {
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" href="#">{{'login' | translate}}</a>
          </li>
        </ul>
      }





    </div>
  </div>
</nav>



   