@if(objMedia){
<div class="mainContent">
    <p-toast></p-toast>
    <div class="imagenPoster mx-auto">
        <img [src]="objMedia.imagen" [alt]="objMedia.titulo" class="img-fluid poster">
    </div>

    <div class="mediaData container">

        <h1 class="tituloMovie">{{objMedia.titulo | titlecase}}</h1>

        <div class="otherData container">
            <div class="generalPunt">
                <i class="pi pi-star-fill" style="font-size: 1.5rem"></i>
                <span><b>{{objMedia.puntuacion}}</b>/10</span>
            </div>

            <div class="genero">
                <span>{{objMedia.genero}}</span>
            </div>

            <div class="puntuarMedia">
                <i class="pi pi-star" style="font-size: 1.5rem"></i>
                <span>Puntuar</span>
            </div>

            <div class="puntuarMedia">
                <i class="pi" id="heartFav" style="font-size: 1.5rem" (click)="addFavoriteMedia()"
                    [ngClass]="{'pi-heart-fill': isFavorite, 'pi-heart': !isFavorite}"></i>

            </div>


        </div>

        <div class="mediaDesc">
            <p>{{objMedia.descripcion}}</p>
        </div>

        <h1 class="text-left">Reparto</h1>

        <div class="reparto mx-auto">

            <div class="actor-carousel">
                <!-- Utilizamos ngFor para iterar sobre los actores -->
                @for (actor of objMedia.actores; track $index) {
                @if ($index < 3) { <div class="actor-item">
                    <div class="slide-custom">
                        <!-- <a [routerLink]="'/media/' + actor._id" class="movie-link"> -->
                        <!-- Aplicamos la clase "actor-image" a la imagen -->
                        <div class="actor-image-container">
                            <a [routerLink]="'/actor/' + actor._id"><img [src]="actor.imagen" alt=""
                                    class="actor-image"></a>
                            <!-- Mostramos el nombre del actor en el footer de la imagen -->
                            <div class="actor-name">{{ actor.nombre }}</div>
                        </div>
                        <!-- </a> -->
                    </div>
            </div>
            }
            }

        </div>

        @if (objMedia.actores.length > 3) {
        <button *ngIf="objMedia.actores.length > 3" class="seeMore mx-auto" (click)="seeMoreActors()">Ver más</button>

        <p-dialog header="Resto de Actores" [(visible)]="visibleModal" [style]="{width: '80vw'}" [blockScroll]="true">
            <div class="restoAct">
                @for (actor of objMedia.actores; track $index) {

                <div class="actorImage">

                    <a [routerLink]="'/actor/' + actor._id">
                        <img [src]="actor.imagen" alt="" class="actor-image">
                    </a>

                    <div class="actorTitle">{{ actor.nombre }}</div>

                </div>

                }
            </div>
        </p-dialog>
        }

    </div>


    <h1 class="mt-2 text-left">Comentarios</h1>

    @if (aComments.length > 0) {
    <div class="comentarios">
        @for (comment of aComments; track $index) {

        <p-card header="{{comment.idUsuario.name | titlecase}} - {{comment.fecha | date: 'dd/MM/yyyy' }}">
            <p class="m-0">
                {{comment.contenido}}
            </p>

        </p-card>
        }
    </div>
    }@else {
    <p-messages [(value)]="noComentMessage" [enableService]="false" [closable]="false"></p-messages>
    }

    <hr>

    @if (isLoggedIn) {
    <app-add-comment [idUsuario]="idUser" [userName]="userName" [idPelicula]="idMedia"
        (addedComment)="checkAddedComment($event)"></app-add-comment>
    }


</div>
</div>


}@else {
@if (showMessage) {
<p-messages [(value)]="mensaje" [enableService]="false" [closable]="false"></p-messages>
}

}