<h2>Top Rated Films</h2>
<hr>

<swiper-container init="false">

  @for (item of aMedia; track $index) {
  @if (item.puntuacion > 8) {
  <swiper-slide>
    <div class="slide-custom">
      <!-- <a [routerLink]="'/media/' + item._id" class="imagenPost"><img [src]="item.imagen" alt=""></a> -->
      <a [routerLink]="'/media/' + item._id" class="movie-link">
        <img [src]="item.imagen" alt="" class="movie-image">
        <div class="movie-title">{{ item.titulo }}</div>
    </a>
    </div>
  </swiper-slide>
  }
  }

</swiper-container>
<div *ngIf="!listAvailable">
  <p>No se encontraron fotos.</p>
</div>