.background-image {
    background-image: url('https://www.iestrassierra.net/alumnado/curso2324/DAW/daw2324a02/images/reset-min.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    width: 90%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .form-group{
    margin-top: 0.5em
  }

  .registration{
    cursor: pointer;
    text-decoration: none;
  }
  
  
  .cuadroRegis{
    display: grid;
    gap: 10px;
    place-items: center;
  }
  
  .registration{
    padding-top: 0.8em;
  }
  
  
  @media (min-width: 500px) and (max-width: 899px){
    .form-container {
        width: 60%; 
    }
  
    .background-image{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .cuadroRegis{
      display: flex;
      gap: 10px;
      place-items: center;
    }
  }
  
  @media (min-width: 900px) and (max-width: 1400px) {
    .form-container {
        width: 40%; 
    }
    .background-image{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .cuadroRegis{
      display: flex;
      gap: 10px;
      place-items: center;
    }
  }
  
  @media (min-width: 1401px) {
    .form-container {
        width: 100%;
        max-width: 30%;
    }
    .background-image{
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
    }
  
    .cuadroRegis{
      display: flex;
      gap: 10px;
      place-items: center;
    }
  }
  