<div class="background-image">
    <div class="form-container">
        <h2>{{ 'changePass' | translate}}</h2>
        <form [formGroup]="form" (submit)="submitChange()" autocomplete="off">
            <p-toast></p-toast>

            <div class="form-group">
                <label for="password">{{ 'password' | translate}}:</label>
                <input type="password" id="password" name="password" class="form-control" formControlName="password">
                @if (password.errors?.['required'] && password.dirty) {
                <small class="text-danger font-italic">{{ 'passRequired' | translate}}</small>
                }@else if(password.errors?.['minlength']){
                <small class="text-danger font-italic">{{ 'passMin' | translate}}</small>
                }@else if(password.errors?.['pattern']){
                    <small class="text-danger font-italic">{{'regexPass' | translate}}</small>
                }
            </div>
            <div class="form-group">
                <label for="password">{{ 'confirmPass' | translate}}</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                    formControlName="confirmPassword">
                @if (confirmPassword.errors?.['required'] && confirmPassword.dirty) {
                    <small class="text-danger font-italic">{{ 'passRequired' | translate}}</small>
                }@else if(password.errors?.['minlength']){
                    <small class="text-danger font-italic">{{ 'passMin' | translate}}</small>
                }@else if(password.errors?.['pattern']){
                    <small class="text-danger font-italic">{{'regexPass' | translate}}</small>
                }@else {
                    @if(confirmPassword.errors?.['notSamePassword']){
                        <small class="text-danger font-italic">
                            {{ 'noMatchPass' | translate}}
                        </small>
                    }
                }

            </div>

            <div class="cuadroRegis">

                <button type="submit" class="btn btn-primary mt-4" [disabled]="form.invalid">{{ 'cambiarPass' | translate}}</button>
            </div>
        </form>
    </div>
    <!-- <re-captcha (resolved)="resolved($event)" siteKey="6LdAdt8oAAAAAEW6NqKselPaK1LpptZhdm1j-oWS"></re-captcha> -->
</div>