@if(objActor){



    <div class="mainContent">
        <div class="imagenPoster mx-auto">
                <img [src]="objActor.imagen" [alt]="objActor.nombre" class="img-fluid poster"  (error)="objActor.imagen = noFoundImage"> 
        </div>

        <div class="actorData container">

            <h1 class="nameActor">{{objActor.nombre | titlecase}}</h1>


            <div class="mediaDesc">
                <h1>{{'biografia' | translate}}</h1>
                <p>{{objActor.biografia}}</p>
            </div>

            <div class="otherData">
                
                <div class="fecha"> 
                   <h2>{{'fecha' | translate}}</h2>
                    <h3>{{objActor.fechaNacimiento | date: 'dd/MM/yyyy' }}</h3>
                </div> 
                    <div class="nacionalidad">
                        <h2>{{'pais' | translate}}</h2>
                        <h3>{{objActor.nacionalidad }}</h3>
                    </div>
                
            </div>   
            <h1>{{'otherFilms' | translate}}</h1>
            <div class="actuaciones">


                <div class="gridAct">

                    @for (item of objActor.actuaciones; track $index) {

                        <div class="tituloAct">{{item}}</div>


                    }
                
                </div>
             
            </div>  
        </div>

    </div>


}@else {
    @if (showMessage) {
        <p-messages [(value)]="mensaje" [enableService]="false" [closable]="false"></p-messages>
    }

}