<h2>{{'searchTitle' | translate}}</h2>
<mat-form-field style="width: 100%;">
    <mat-label>{{'searchLabel' | translate}}</mat-label>
    <input type="text" matInput [formControl]="searchInput" (keyup)="searchMedia()" />
</mat-form-field>

    @if(aMedia.length > 0 || aMedia == null){
        <div class="resultados" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" 
        (scrolled)="loadMoreResults()">
            @for (media of aMedia; track $index) {
                <div class="cartaImagen">
                    <a [routerLink]="'/media/' + media._id"><img [src]="media.imagen" [alt]="media.titulo" class="imagenMedia"
                        (error)="media.imagen = noFoundImage"></a>
                </div>
            }
        </div>
    }@else {
        @if (showMessage) {
            <!-- <p-messages [(value)]="mensaje" [enableService]="false" [closable]="false"></p-messages> -->
            <div class="alert alert-warning" role="alert">
                {{'noResultSearch' | translate}}
              </div>
        }
            
        
    }
    
