<div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center mt-5">
        <h1 class="display-4">Error 404</h1>
        <p class="lead">{{ 'noFoundPage' | translate}}</p>
        <div class="imagenCont mx-auto">
            <img src="https://www.iestrassierra.net/alumnado/curso2324/DAW/daw2324a02/images/error-min.gif" alt="" class="img-fluid">
        </div>
        
        <a routerLink="/home" class="btn btn-primary mb-12">{{ 'irHome' | translate}}</a>
        

        
      </div>
    </div>
  </div>
