

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .text-center {
    text-align: center;
  }
  .imagenCont {
    margin-top: 20px;
    width: 200px; 
    margin-bottom: 20px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    .col-md-8 {
      width: 100%;
    }
  }
  