<h2>{{ 'favoriteTitle' | translate }}</h2>
<hr>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="favoritos">

  @if (favoriteList.length > 0) {
    @for (fav of favoriteList; track $index) {
        <div class="card">
          <div class="left">
            <img class="card-image" src="{{ fav.imagen }}" alt="{{ fav.titulo }}" (error)="fav.imagen = noFoundImage"/>
          </div>
          <div class="right">
            <h2 class="card-title">{{fav.titulo}}</h2>
            @if (fav.notaUsuario) {
              <span class="rating" > {{ 'personalRating' | translate}}: {{fav.notaUsuario}}</span>
            }@else {
              <span class="rating" > {{ 'noVotedAlready' | translate}}</span>
            }
              
              <button class="btn-delete delete" (click)="deleteFavorite(fav._id, $event)"> {{ 'removeFavorite' | translate}}</button>
          </div>
        </div>
    }
  }@else {
    @if (showMessage) {
      {{ 'noFavorites' | translate}}
    }@else{
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      
    }
  }




</div>